{% extends 'base.html' %}

{% block content %}
<section>
    <h1>Api Playground</h1>
    <p>Use this page to test the API endpoints directly.</p>

    <div class="api-test">
        <h2>Test Food Get</h2>
        <input type="number" id="foodIdInput" placeholder="Enter food id">
        <button id="fetchFoodButton" onclick="fetchFood()">Fetch Food</button>
        <button id="resetFoodButton" onclick="resetFood()">Reset</button>
        <pre id="foodResponse" class="response"></pre>
    </div>
</section>

<script>
    function resetFood() {
        document.getElementById("foodResponse").textContent = "";
    }

    function fetchFood() {
        const foodId = document.getElementById('foodIdInput').value;
        if (!foodId) {
            document.getElementById('foodResponse').textContent = 'Please enter a food ID.';
            return;
        }
        fetch(`/api/food/${foodId}`)
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {throw new Error(err.message)});
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('foodResponse').textContent = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                document.getElementById('foodResponse').textContent = 'Error: ' + error.message;
            });
    }
</script>
{% endblock %}