{% extends 'base.html' %}

{% block content %}
<section class="food-database">
    <h1>Food Database</h1>
    <p>Browse the foods currently available in our database.</p>

    {% if foods %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for food in foods %}
        <div class="col">
            <div class="card h-100 feature-card">
                <div class="card-body">
                    <h5 class="card-title">{{ food.name }}</h5>
                    <h6 class="card-subtitle">{{ food.calories }} kcal</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Protein: {{ food.protein }}g</li>
                    <li class="list-group-item">Carbs: {{ food.carbs }}g</li>
                    <li class="list-group-item">Fats: {{ food.fats }}g</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="food-empty-state">
        <p>No food items found matching your search.</p>
    </div>
    {% endif %}
</section>
{% endblock %}